#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.weather-summary-list {
  padding: 20px;
}

.toggle-container {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.weather-summary {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
  border-radius: 8px;
}

.weather-summary h3 {
  margin-top: 0;
}

.form-select{
  width:auto;
  justify-self: center;
}